<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">Sign Up | 注册</h2>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
            <form method="post" action="<{$BASE_URI}>/login/sign" id="form-sign-up">
                <{$csrf_input}>
                <input type="hidden" name="action" value="sign" />
                <div class="form-group">
                    <label class="control-label" for="username">用户名</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label class="control-label" for="nickname">昵称</label>
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="nickname">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">邮箱</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="who@email.com">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">密码</label>
                        <input type="password" class="form-control" name="password" id="password" >
                </div>
                <div class="form-group">
                    <label class="control-label" for="re-password">密码</label>
                        <input type="password" class="form-control" name="re_password" id="re-password" >
                </div>
                <button class="btn btn-primary" type="button" id="sign-up">注册</button>
            </form>
        </div>
    </div>
</div>
<{include file="public/foot.html"}>
<script type="text/javascript">
    $(function(){
        $('#sign-up').on('click', function(){
            if ($('#username').val() == '' || $('#password').val() == '') {
                js_comm.alert('用户名或密码不能为空');
                return false;
            }
            if (!/^([a-zA-Z0-9_\-])+@([a-zA-Z0-9_\-])+(\.[a-zA-Z0-9_\-])+/.test($('#email').val())) {
                js_comm.alert('邮箱格式不合法！');
                return false;
            }
            if ($('#password').val() !== $('#re-password').val()) {
                js_comm.alert('两次输入的密码不一致！');
                return false;
            }
            js_comm.ajax_form('#form-sign-up', function(res){
                js_comm.alert_success('注册成功！', function(){
                    location.href=res.content;
                });
            });
        });
    });
</script>
</body>
</html>