<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error - 出错了</title>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/comm.css">
    <script type="text/javascript" src="/js/comm/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/comm/comm.js"></script>
</head>
<body>
<div class="main container">
    <h1 class="page-header">:( <small class="">出错了！</small> </h1>
    <div class="panel panel-danger">
        <div class="panel-heading"><{$code}></div>
        <div class="panel-body">
            <p class="alert" role="alert"><{$message}></p>
        </div>
    </div>
</div>
<{include file='public/foot.html'}>
</body>
</html>