<{extends 'public/base.html'}>
<{block name=body}>
<style>
    .icon .layui-form-radio{
        padding: 0px;
        margin: 6px 0px 0 0;
        display: inline;
    }
    .layui-form-radio>i{
        margin-right:5px;
    }
    .mar10{
        margin-right: 10px;
        font-size: 20px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">权限管理</div>
        <div class="layui-card-body">
            <form class="layui-form " onsubmit="return false;" lay-filter="component-form-element">
                <table class="layui-table" lay-filter="auth">
                    <colgroup>
                        <col width="150">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>当前角色</th>
                        <td><{$role.name}></td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="checkbox" id="checkAll" name="" lay-filter="checkAll" title="全选" lay-skin="primary"></th>
                    </tr>
                    <{foreach $menu as $k=>$item}>
                    <tr>
                        <td class="checkbox_level_1-td"><input type="checkbox" <{if in_array($item.id,$auth)}>checked<{/if}> name="ids[]" lay-filter="checkAll-level1" class="checkbox_level_1" value="<{$item.id}>" data-level="<{$item.level}>" lay-filter="switchTest"  title="<{$item.name}>" lay-skin="primary" ></td>
                        <td>
                            <{if isset($item.items)&&is_array($item.items)}>
                                <{foreach $item.items as $k2=>$item2}>
                                    <{if isset($item2.items)&&is_array($item2.items)&&count($item2.items)>0}>
                                        <table class="layui-table level2">
                                            <thead>
                                            <tr>
                                                <th><input type="checkbox" <{if in_array($item2.id,$auth)}>checked<{/if}> lay-filter="checkAll-level2" name="ids[]" value="<{$item2.id}>" data-level="<{$item2.level}>" title="<{$item2.name}>" lay-skin="primary" ></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <{foreach $item2.items as $k3=>$item3}>
                                                    <input type="checkbox" name="ids[]" <{if in_array($item3.id,$auth)}>checked<{/if}> value="<{$item3.id}>" data-level="<{$item3.level}>" title="<{$item3.name}>" lay-skin="primary" >
                                                    <{/foreach}>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    <{else}>
                                        <table class="layui-table level_no_3">
                                            <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="ids[]" <{if in_array($item2.id,$auth)}>checked<{/if}> lay-filter="checkAll-level2" value="<{$item2.id}>" data-level="<{$item2.level}>" title="<{$item2.name}>" lay-skin="primary" ></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    <{/if}>
                                <{/foreach}>
                            <{else}>
                            <{/if}>
                        </td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                </table>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <input type="hidden" name="id" value="<{$id}>">
                            <button class="layui-btn" lay-submit="auth" lay-filter="auth">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<{/block}>
<{block name=script}>
<script>
    layui.use(['form'], function(){
        var $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        form.on('checkbox(checkAll)', function(obj){
            var child = $(obj.elem).parents('tr').siblings().find('input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = obj.elem.checked;
            });
            form.render('checkbox');
        });
        form.on('checkbox(checkAll-level1)', function(obj){
            var child = $(obj.elem).parents('td').siblings().find('input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = obj.elem.checked;
            });
            form.render('checkbox');
        });
        form.on('checkbox(checkAll-level2)', function(obj){
            var child = $(obj.elem).parents('thead').siblings('tbody').find('input[type="checkbox"]');
            var parent = $(obj.elem).parents('table').parents('td').siblings('.checkbox_level_1-td').find('input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = obj.elem.checked;
            });
            form.render('checkbox');
        });
        //监听提交
        form.on('submit(auth)', function(data){
            console.log(data);
            $.ajax({
                type: 'POST',
                url: '/index/user/auth/',
                data: data.field,
                success: function (data) {
                    //data=JSON.parse(data);
                    if(data.code===0){
                        layer.msg('授权成功',{time: 1000});
                        //window.location.href="/index/user/group/";
                    }else{
                        layer.msg(data.msg);
                    }
                }
            });

        });
    });
</script>

<{/block}>

