<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><{block name=title}>此处应有标题<{/block}></title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">

    <!-- static files -->
    <{block name=static}><{/block}>
</head>
<body class="layui-layout-body">
    <{block name=body}><{/block}>
    <{block name=script}><{/block}>
</body>
</html>