<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><{block name=title}>此处应有标题<{/block}></title>
    <!-- link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/js/bootstrap/bootstrap.min.css" -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/css/bootstrap-datepicker.min.css">
    <link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/css/comm.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--script type="text/javascript" src="<{$BASE_URI}>/public/js/comm/jquery.min.js"></script>
    <script type="text/javascript" src="<{$BASE_URI}>/public/js/bootstrap/bootstrap.min.js"></script-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<{$BASE_URI}>/public/js/comm/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        var __BASE__ = '<{$BASE_URI}>';
    </script>
    <!-- static files -->
    <{block name=static}><{/block}>
</head>
<body>
<div class="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="<{$BASE_URI}>/" class="navbar-brand hidden-sm">WS CMDB Admin</a>
            </div>
            <div class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="<{$BASE_URI}>/">首页</a></li>
                    <li><a href="<{$BASE_URI}>/test">Test module</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="<{$BASE_URI}>/login/">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main" style="padding-top:50px;">
        <div class="col-sm-2">
            <h2 class="page-header">Side bar</h2>
            <ul class="list-group">
                <li class="list-group-item">aaaa aghr</li>
                <li class="list-group-item list-group-item-primary">aaaa aghr</li>
                <li class="list-group-item">aaaa aghr</li>
                <li class="list-group-item">aaaa aghr</li>
            </ul>
        </div>
        <div class="col-sm-10">
            <h2 class="page-header">Hello world</h2>
            <{block name=main}><{/block}>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <hr>
            <div class="row footer-bottom">
                <ul class="list-inline text-center">
                    <li>&copy;2018 稳速Inc.</li><li>Since 2018.</li><li><a href="http://www.765.com.cn/">www.765.com.cn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<{block name=js}><{/block}>
</body>
</html>