<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>计划任务 | <{$title|default:""}></title>
<!-- link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/js/bootstrap/bootstrap.min.css" -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/css/bootstrap-datepicker.min.css">
<link type="text/css" rel="stylesheet" href="<{$BASE_URI}>/public/css/comm.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="<{$BASE_URI}>/public/imgs/favicon-touch.png">
<link rel="shortcut icon" href="<{$BASE_URI}>/public/imgs/favicon.png">

<!--script type="text/javascript" src="<{$BASE_URI}>/public/js/comm/jquery.min.js"></script>
<script type="text/javascript" src="<{$BASE_URI}>/public/js/bootstrap/bootstrap.min.js"></script-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<{$BASE_URI}>/public/js/comm/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    var __BASE__ = '<{$BASE_URI}>';
</script>