<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><{$title|default:""}></title>
<link type="text/css" rel="stylesheet" href="<{$BASE_URI|default:''}>/js/bootstrap/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="<{$BASE_URI|default:''}>/css/comm.css">
<script type="text/javascript" src="<{$BASE_URI|default:''}>/js/comm/jquery.min.js"></script>
<script type="text/javascript" src="<{$BASE_URI|default:''}>/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="<{$BASE_URI|default:''}>/js/comm/comm.js"></script>
<script type="text/javascript">
    var __BASE__ = '<{$BASE_URI|default:""}>';
    var __PAGE__ = '<{$page|default:""}>';
</script>