<{extends file='public/base.html'}>

<{block name=title}>默认模块 - 新的标题<{/block}>

<{block name=static}>
<style type="text/css">
    h2{color: orangered;}
</style>
<{/block}>

<{block name=main}>
<h1 class="page-header">test module index body</h1>

<{/block}>

<{block name=js}>
<script type="application/javascript" src="<{$BASE_URI}>/public/js/comm/comm.js"></script>
<script type="application/javascript">
    $(function(){
        js_comm.log('It works!', document.cookie);
    });
</script>
<{/block}>