.main{
    padding-top: 50px;
}
.side-bar{
    position: fixed;
    top: 50px;
    webkit-box-shadow: 1px 0 0px 0px #EEE;
    box-shadow: 1px 0 0px 0px #EEE;
}
.side-bar .nav>li a{
    border-left: 2px solid rgba(0,0,0,0);
}
.side-bar .nav>li.active a{
    color: #563d7c;
    font-weight: bold;
    border-left-color: #563d7c;
}
.ajax-status-toggle {
    cursor: pointer;
}
.progress-bar-abandon{
    background-color:#9B410E;
    width: 100%;
}
.datepicker{
    padding: 0;
}