<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><?php echo $title; ?></title>
    <link type="text/css" rel="stylesheet" href="<?php echo $BASE_URI; ?>/public/static/css/jquery.dialogbox.css" >
    <?php echo $COMM_STATIC; ?>
    <script type="text/javascript" src="<?php echo $BASE_URI; ?>/public/static/js/jquery.dialogbox.js"></script>
    <style type="text/css" rel="stylesheet">
        .pro-table{width:100%; border-collapse: collapse;}
        .pro-table th{height:32px; background-color: #0A84DE; color: #FFFFFF; border: 1px solid #E6E6E6;}
        .pro-table td{height:28px; text-align: center; border: 1px solid #E6E6E6;}
        .pro-table td.align-left {text-align: left;}
        tr.pro-finished {display: none;}
        .finished td{background-color: #66be8c;}
        .pending td{background-color: #DECB76;}
    </style>
</head>
<body>
<div class="">
    <div class="">
        <a href="<?php echo $BASE_URI.'/Gantt/project/id/'.$id; ?>" class="curr">项目规划</a>
        <a href="<?php echo $BASE_URI.'/Gantt/charts/id/'.$id; ?>">甘特图</a>
    </div>
    <div class="">
        <table class="pro-table" data-pro-id="<?php echo $id; ?>">
            <tr><th>项目任务</th><th>参与人员</th><th>开始日期</th><th>完成日期</th><th>预期时间</th><th>当前进度</th><th>编辑</th><th>删除</th></tr>
            <?php foreach($tasks as $t) {
                echo "<tr class='{$t['status']}'><td class='align-left'><a href=\"\" data-id=\"{$t['id']}\" class=\"btn-add\">{$t['name']}<span>[+]</span></a></td><td>{$t['ownner']}</td><td>{$t['begin_date']}</td><td>{$t['end_date']}</td><td>{$t['limit']}</td><td>{$t['progress']}</td>";
                echo "<td><a class='btn-edit' href='' data-id='{$t['id']}'>编辑</a></td><td><a class='btn-del' href='' data-id='{$t['id']}'>删除</a></td></tr>";
                if (isset($t['tasks'])) {
                    foreach ($t['tasks'] as $tt) {
                        echo "<tr class='pro-{$t['status']} {$tt['status']}'><td class='align-left'>----{$tt['name']}</td><td>{$tt['ownner']}</td><td>{$tt['begin_date']}</td><td>{$tt['end_date']}</td><td>{$tt['limit']}</td><td>{$tt['progress']}</td>";
                        echo "<td><a class='btn-edit' href='' data-id='{$tt['id']}'>编辑</a></td><td><a class='btn-del' href='' data-id='{$tt['id']}'>删除</a></td></tr>";
                    }
                }
            }
            echo '<tr><td><a href="" class="btn-add" data-id="0">NEW<span>[+]</span></a></td></tr>';
            ?>
        </table>
    </div>
</div>
<div id="edit-dialog"></div>
<div id="del-dialog"></div>
<div id="add-dialog"></div>
</body>
<script type="text/javascript" src="<?php echo $BASE_URI; ?>/public/static/js/js_gantt_project.js"></script>
</html>