<{extends 'public/base.html'}>

<{block name=body}>
<div class="layui-fluid">
    <div class="layadmin-content">
        <div class="demoTable">
            <div class="layui-inline" style="width: 350px;">
                <input class="layui-input" name="time" id="time" placeholder="yyyy-MM-dd HH:mm:ss - yyyy-MM-dd HH:mm:ss">
            </div>

            <button class="layui-btn" data-type="reload">搜索</button>
            <button class="layui-btn layui-btn-danger" data-type="del">删除一月前数据</button>
        </div>
        <table class="layui-table" lay-data="{height: 'full-100',cellMinWidth: 80,url:'/index/log/list/', id:'log',page: true,limit:20}" lay-filter="log">
            <thead>
            <tr>
                <th lay-data="{field:'adate',sort:true,width:180}">时间</th>
                <th lay-data="{field:'userName',width:200}">用户</th>
                <th lay-data="{field:'nodeName',width:200}">节点名称</th>
                <th lay-data="{field:'node',width:200}">节点</th>
                <th lay-data="{field:'uri'}">地址</th>
                <th lay-data="{field:'ip',width:200}">IP</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<{/block}>

<{block name=script}>
<script>
    layui.use(['table','laytpl','laydate'], function(){
        var $ = layui.$;
        var laydate = layui.laydate;
        var table = layui.table
            ,laytpl = layui.laytpl
            ,form = layui.form;
        laydate.render({
            elem: '#time'
            ,type: 'datetime'
            ,calendar: true
            ,range: true
        });
        var $ = layui.$, active = {
            reload: function(){
                var time = $('#time');
                //执行重载
                table.reload('log', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        time:time.val()
                    }
                });
            },
            del: function(){
                layer.confirm('确定删除数据么', function(index){
                    $.getJSON("/index/log/del/", function(data){
                        if(data.code===0){
                            table.reload('log');
                            layer.close(index);
                        }else{
                            layer.msg('删除失败');
                            layer.close(index);
                        }
                    });
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
<{/block}>

