<{extends 'public/base.html'}>

<{block name=body}>
<div class="layui-fluid">
    <div class="layadmin-content">


        <div class="dealTable">
            <div class="layui-inline">
                <input class="layui-input" name="name" id="name" autocomplete="off" placeholder="节点名称">
            </div>
            <button class="layui-btn" data-type="search">搜索</button>
            <div class="layui-btn-group ">
                <button class="layui-btn" data-type="getCheckData"><i class="layui-icon">&#xe654;</i>添加新菜单</button>
                <button class="layui-btn layui-btn-danger" data-type="getCheckLength"><i class="layui-icon">&#xe640;</i>删除所选</button>
            </div>
        </div>
        <table class="layui-table" lay-data="{height: 'full-120',cellMinWidth: 80,url:'/index/menu/list/', id:'menu'}" lay-filter="menu">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox',fixed: 'left'}">ID</th>
                <th lay-data="{field:'id', width:80}">ID</th>
                <th lay-data="{field:'listorder', width:80, sort: true, edit: 'text'}">排序</th>
                <th lay-data="{field:'icon',width: 80}">图标</th>
                <th lay-data="{field:'name',edit: 'text'}">节点名称</th>
                <th lay-data="{field:'url',edit: 'text'}">地址</th>
                <th lay-data="{field:'param',edit: 'text'}">参数</th>
                <th lay-data="{field:'isMenu',width: 100,event: 'isMenu',style:'cursor: pointer;'}">是否菜单</th>
                <th lay-data="{field:'isShow',width: 100,event: 'isShow',style:'cursor: pointer;'}">是否显示</th>
                <th lay-data="{field:'right',toolbar: '#barMenu', fixed: 'right'}">操作</th>
            </tr>
            </thead>
        </table>

        <table class="layui-hide" id="menu" lay-filter="demo"></table>
    </div>
</div>
<{/block}>

<{block name=script}>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        /*table.on('checkbox(menu)', function(obj){
            console.log(obj)
        });*/
        //监听工具条
        table.on('tool(menu)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }else if(obj.event === 'isMenu'){
                layer.msg('切换是否菜单')
            }else if(obj.event === 'isShow'){
                layer.msg('切换是否显示')
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('menu')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('menu')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            },
            search: function(){
                var name = $('#name');
                //执行重载
                table.reload('menu', {
                    where: {
                        key: {
                            name: name.val()
                        }
                    }
                });
            }
        };

        $('.dealTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听单元格编辑
        table.on('edit(menu)', function(obj){
            console.log(obj);
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
        });


    });
</script>
<script type="text/html" id="barMenu">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<{/block}>

