<{extends 'public/base.html'}>

<{block name=body}>
<div class="layui-fluid">
    <div class="layadmin-content">


        <div class="dealTable">
            <div class="layui-inline">
                <input class="layui-input" name="name" id="name" autocomplete="off" placeholder="节点名称">
            </div>
            <button class="layui-btn" data-type="search">搜索</button>
            <div class="layui-btn-group ">
                <button class="layui-btn" data-type="add"><i class="layui-icon">&#xe654;</i>添加新菜单</button>
                <button class="layui-btn layui-btn-danger" data-type="delete"><i class="layui-icon">&#xe640;</i>删除所选</button>
            </div>
        </div>
        <table class="layui-table" lay-data="{height: 'full-120',cellMinWidth: 80,url:'/index/menu/list/', id:'menu'}" lay-filter="menu">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox',fixed: 'left'}">ID</th>
                <th lay-data="{field:'id', width:80}">ID</th>
                <th lay-data="{field:'listorder', width:80, sort: true, edit: 'text'}">排序</th>
                <th lay-data="{field:'icon',width: 80}">图标</th>
                <th lay-data="{field:'name',edit: 'text'}">节点名称</th>
                <th lay-data="{field:'url',edit: 'text'}">地址</th>
                <th lay-data="{field:'param',edit: 'text'}">参数</th>
                <th lay-data="{field:'isMenu',width: 100,templet: '#menuTpl', unresize: true}">是否菜单</th>
                <th lay-data="{field:'isShow',width: 100,templet: '#showTpl', unresize: true}">是否显示</th>
                <th lay-data="{field:'right',toolbar: '#barMenu', fixed: 'right'}">操作</th>
            </tr>
            </thead>
        </table>

        <table class="layui-hide" id="menu" lay-filter="demo"></table>
    </div>
</div>
<{/block}>

<{block name=script}>
<script type="text/html" id="menuTpl">
    <input type="checkbox" name="isMenu" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="isMenu" {{ d.isMenu == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="showTpl">
    <input type="checkbox" name="isShow" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="isShow" {{ d.isShow == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table
        ,form = layui.form;
        //监听是否菜单操作
        form.on('switch(isMenu)', function(obj){
            $.getJSON("/index/menu/switch/?type=isMenu&id="+this.value+"&value="+obj.elem.checked, function(data){
                if(data.code===0){
                    //layer.msg('切换成功');
                }else{
                    layer.msg('切换失败');
                }
            });
        });

        //监听是否显示操作
        form.on('switch(isShow)', function(obj){
            $.getJSON("/index/menu/switch/?type=isShow&id="+this.value+"&value="+obj.elem.checked, function(data){
                if(data.code===0){
                    //layer.msg('切换成功');
                }else{
                    layer.msg('切换失败');
                }
            });
        });

        //监听表格复选框选择
        /*table.on('checkbox(menu)', function(obj){
            console.log(obj)
        });*/
        //监听工具条
        table.on('tool(menu)', function(obj){
            var data = obj.data;
            var id=obj.data.id;
            if(obj.event === 'del'){
                layer.confirm('确定删除此行么', function(index){
                    $.getJSON("/index/menu/del/?id="+id, function(data){
                        if(data.code===0){
                            obj.del();
                            layer.close(index);
                        }else{
                            layer.msg('删除失败');
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="/index/menu/edit/?id="+id;
            }
        });

        var $ = layui.$, active = {
            add: function(){ //获取选中数据
                window.location.href="/index/menu/add/";
            }
            ,delete: function(){ //获取选中数目
                var checkStatus = table.checkStatus('menu')
                    ,data = checkStatus.data;
                var idx='';
                for(var i in data){
                    idx=data[i].id+','+idx
                }
                idx = idx.substr(0, idx.length - 1);
                layer.confirm('确定删除所选行吗', function(index){
                    layer.close(index);
                    var load=layer.load(1, {
                        shade: [0.1,'#fff']
                    });
                    $.getJSON("/index/menu/delete/?idx="+idx, function(data){
                        if(data.code===0){
                            layer.close(load);
                            table.reload('menu');
                        }else{
                            layer.msg('删除失败');
                        }
                    });
                });
                //console.log(idx);
                //layer.msg('选中了：'+ data.length + ' 个');
            },
            search: function(){
                var name = $('#name');
                //执行重载
                table.reload('menu', {
                    where: {
                        key: {
                            name: name.val()
                        }
                    }
                });
            }
        };

        $('.dealTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听单元格编辑
        table.on('edit(menu)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.getJSON("/index/menu/changedata/?type="+field+"&id="+data.id+"&value="+value, function(data){
                if(data.code===0){
                    layer.msg('更改成功');
                }else{
                    layer.msg('更改失败');
                }
            });
           /* console.log(obj);
            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);*/
        });


    });
</script>
<script type="text/html" id="barMenu">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<{/block}>

