<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">我的项目计划</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><label><input type="checkbox" id="checkAll" /> 全选</label></th>
                <th>项目名</th>
                <th>开始时间</th>
                <th>子任务数</th>
                <th>完成进度</th>
                <th>是否公开</th>
            </tr>
        </thead>
        <tbody>
            <{foreach from=$projects key=key item=item}>
            <tr>
                <td><input type="checkbox" name="chk[]" value="<{$item.id}>" /></td>
                <td><a href="<{$BASE_URI}>/project/id/<{$item.id}>"><{$item.name}></a></td>
                <td><{$item.date_from}></td>
                <td><{$item.task_count}> | <{$item.sub_count}></td>
                <td><{$item.process}></td>
                <td><{$item.is_public}></td>
            </tr>
            <{/foreach}>
        </tbody>
    </table>
    <div class="btn-groups">
        <button class="btn btn-primary btn-sm">删除</button>
        <select class=""><option>删除</option><option>完成</option><option>放弃</option></select>
    </div>
</div>
<{include file="public/foot.html"}>
</body>
</html>