<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="commonModalLabel">新增任务</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="<{$BASE_URI}>/index/addproject" method="post" id="form-add-project">
                <{$csrf_input}>
                <input type="hidden" name="action" value="add" />
                <input type="hidden" name="pro" value="<{$project.id}>" />
                <input type="hidden" name="pid" value="<{$ptask.id}>" />
                <div class="form-group from-group-sm">
                    <lable for="pro_name" class="col-sm-3 control-label">项目名称</lable>
                    <div class="col-sm-9">
                        <strong class="form-control"><{$ptask.name}></strong>
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="pro_name" class="col-sm-3 control-label">父任务</lable>
                    <div class="col-sm-9">
                        <strong class="form-control"><{$ptask.title}></strong>
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="from_date" class="col-sm-3 control-label" >起止时间</lable>
                    <div class="col-sm-5">
                        <div class="input-group datepicker">
                            <input type="text" class="form-control" name="from_date" id="from_date" ><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            <script type="text/javascript">$('#from_date').datepicker({format: "yyyy-mm-dd",daysOfWeekHighlighted: "0,6", language: "zh-CN",});</script>
                        </div>
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="pro_summary" class="col-sm-3 control-label" >任务简介</lable>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="4" id="description" name="description" placeholder="任务简介"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="add-task">提交</button>
        </div>
    </div>
</div>