<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="commonModalLabel">编辑任务</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="<{$BASE_URI}>/task/edit" method="post" id="form-edit-task">
                <{$csrf_input}>
                <input type="hidden" name="action" value="edit" />
                <input type="hidden" name="id" value="<{$task.id}>" />
                <div class="form-group from-group-sm">
                    <lable for="pro_name" class="col-sm-2 control-label">项目名称</lable>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" value="<{$task.pro_name}>" />
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="pro_name" class="col-sm-2 control-label">父任务</lable>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" value="<{$task.pt_title|default:'--'}>" />
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="pro_name" class="col-sm-2 control-label">任务标题</lable>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="title" value="<{$task.title}>" placeholder="任务标题" />
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="from_date" class="col-sm-2 control-label" >起止时间</lable>
                    <div class="col-sm-9">
                        <div class="input-group input-daterange" style="width:280px;">
                            <input type="text" class="input-sm form-control" name="date_start" value="<{$task.date_start}>" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="date_end" value="<{$task.date_end}>" />
                        </div>
                        <script type="text/javascript">$('.input-daterange').datepicker({format: "yyyy-mm-dd",daysOfWeekHighlighted: "0,6", language: "zh-CN",});</script>
                    </div>
                </div>
                <div class="form-group from-group-sm">
                    <lable for="pro_summary" class="col-sm-2 control-label" >任务简介</lable>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="4" id="description" name="description" placeholder="任务简介"><{$task.description}></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="edit-task">提交</button>
        </div>
    </div>
</div>