<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">项目详情 | <small>< <{$project.name}> ></small></h2>
    <ol class="breadcrumb">
        <li><a href="<{$BASE_URI}>">首页</a></li>
        <li><a href="<{$BASE_URI}>/task/index/pro/<{$project.id}>"><{$project.name}></a></li>
        <li class="active">甘特图</li>
    </ol>
    <div id="myCharts" style="height:<{$chart_height}>px;"></div>
</div>
<{include file="public/foot.html"}>
<script type="text/javascript" src="<{$BASE_URI}>/public/js/comm/echarts.simple.min.js"></script>
<script type="text/javascript">
    var data = <{$gantt_data}>;
    var myCharts = echarts.init(document.getElementById('myCharts'));
    option = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['pre', 'done','today','todo','after']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '0',
            top: '20',
            containLabel: true
        },
        xAxis:  {
            type: 'value',
            boundaryGap: ['0%', '0%'],
            axisLabel: {
                formatter: function(value, index) {
                    var a = new Date(<{$date_s}>)
                    a = a.valueOf()
                    a = a + value * 24 * 60 * 60 * 1000
                    a = new Date(a)
                    return a.getFullYear() + "-" + (a.getMonth() + 1) + "-" + a.getDate()
                }
            }
        },
        yAxis: {
            type: 'category',
            data: data.tasks,
            splitLine: {
                show: true
            }
        },
        series: [
            {
                name: 'pre',
                type: 'bar',
                stack: 'gantt',
                itemStyle: {
                    normal: {
                        color: 'rgba(0,0,0,0)',
                    }
                },
                label: {
                    normal: {
                        show: false,

                    }
                },
                data: data.pre
            },
            {
                name: 'done',
                type: 'bar',
                stack: 'gantt',
                itemStyle: {
                    normal: {
                        color: 'rgba(92, 184, 92, 1)',
                    }
                },
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: data.done
            },
            {
                name: 'today',
                type: 'bar',
                stack: 'gantt',
                itemStyle: {
                    normal: {
                        color: 'rgba(240, 173, 78, 1)',
                    }
                },
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: data.today,
                markLine: {
                    silent: true,
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: 'rgba(240, 173, 78, 1)'
                        }
                    },
                    data: [{
                        xAxis: <{$today}>
                    }]
                }
            },
            {
                name: 'todo',
                type: 'bar',
                stack: 'gantt',
                itemStyle: {
                    normal: {
                        color: 'rgba(91, 192, 222, 1)',
                    }
                },
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: data.todo
            },
            {
                name: 'after',
                type: 'bar',
                stack: 'gantt',
                barWidth: '60%',
                itemStyle: {
                    normal: {
                        color: 'rgba(0,0,0,0)',
                    }
                },
                label: {
                    normal: {
                        show: false,
                    }
                },
                data: data.after
            }
        ]
    };
    myCharts.setOption(option);
</script>
</body>
</html>