<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
    <style type="text/css">
        .sub-task td{padding-top: 3px!important; padding-bottom: 3px!important;}
    </style>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">任务拆分 | <small>< <{$project.name}> > <a class="btn btn-xs task-add btn-success" href="<{$BASE_URI}>/task/add/pro/<{$project.id}>">新增任务</a></small></h2>
    <ol class="breadcrumb">
        <li><a href="<{$BASE_URI}>">首页</a></li>
        <li class="active"><{$project.name}></li>
    </ol>
    <form method="post" id="" action="<{$BASE_URI}>/task/del">
        <{$csrf_input}>
        <div class="form-group form-group-sm">
            <button class="btn btn-danger btn-sm task-batch-del">批量删除</button>
            <a class="btn btn-sm task-add btn-success" href="<{$BASE_URI}>/task/add/pro/<{$project.id}>">新增任务</a>
            <a class="btn btn-sm btn-default" href="<{$BASE_URI}>/task/gantt/pro/<{$project.id}>">Gantt图示</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:30px;"><input type="checkbox" id="checkAll" class="checkAll" data-target="ids[]"></th>
                    <th>任务计划</th>
                    <th>起止时间</th>
                    <th style="width:200px;">当前进度</th>
                    <th style="width:160px;">操作</th>
                </tr>
            </thead>
            <tbody>
                <{foreach from=$tasks item=t}>
                <tr class="<{$t.status}>">
                    <td><input type="checkbox" name="ids[]" value="<{$t.id}>" /></td>
                    <td><a title="<{$t.description}>" class="task-edit" href="<{$BASE_URI}>/task/edit/id/<{$t['id']}>"><{$t['title']}></a></td>
                    <td><{$t['date_start']}> - <{$t['date_end']}> <span class="label label-primary"><{$t['date_count']}></span></td>
                    <td>
                        <div class="progress" style="margin-bottom:0;margin-top:5px; height:10px;">
                            <div class="progress-bar <{if $t.progress == '100'}> progress-bar-success
                        <{elseif $t.progress == '-1'}> progress-bar-abandon progress-bar-danger
                        <{elseif $t.progress >= '80'}> progress-bar-primary progress-bar-striped active
                        <{elseif $t.progress >= '30'}> progress-bar-info progress-bar-striped active
                        <{else}> progress-bar-warning progress-bar-striped active
                        <{/if}>" role="progressbar" aria-valuenow="<{$t.progress}>" aria-valuemin="0" aria-valuemax="100" style="width: <{$t.progress}>%;">
                                <span class="sr-only"><{$item.progress}>%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="task-del btn btn-danger btn-xs" href="<{$BASE_URI}>/task/del/ids/<{$t['id']}>">删除</a>
                        <a class="task-edit btn btn-info btn-xs" href="<{$BASE_URI}>/task/edit/id/<{$t['id']}>">编辑</a>
                        <a class="task-add btn btn-success btn-xs" href="<{$BASE_URI}>/task/add/pro/<{$project.id}>/pid/<{$t['id']}>">子任务</a>
                    </td>
                </tr>
                <{if $t.sub_task}>
                <{foreach from=$t.sub_task item=tt}>
                <tr class="sub-task <{$tt['status']}>">
                    <td><input type="checkbox" name="ids[]" value="<{$tt.id}>" /></td>
                    <td style="text-indent: 20px;"><a title="<{$tt.description}>" class="" href="<{$BASE_URI}>/task/edit/id/<{$tt['id']}>"><{$tt['title']}></a></td>
                    <td><{$tt['date_start']}> - <{$tt['date_end']}> <span class="label label-primary"><{$tt['date_count']}></span></td>
                    <td>
                        <div class="progress" style="margin-bottom:0;margin-top:5px; height:10px;">
                            <div class="progress-bar <{if $tt.progress == '100'}> progress-bar-success
                        <{elseif $tt.progress == '-1'}> progress-bar-abandon progress-bar-danger
                        <{elseif $tt.progress >= '80'}> progress-bar-primary progress-bar-striped active
                        <{elseif $tt.progress >= '30'}> progress-bar-info progress-bar-striped active
                        <{else}> progress-bar-warning progress-bar-striped active
                        <{/if}>" role="progressbar" aria-valuenow="<{$tt.progress}>" aria-valuemin="0" aria-valuemax="100" style="width: <{$tt.progress}>%;">
                                <span class="sr-only"><{$tt.progress}>%</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="task-del btn btn-danger btn-xs" href="<{$BASE_URI}>/task/del/ids/<{$tt['id']}>">删除</a>
                        <a class="task-edit btn btn-info btn-xs" href="<{$BASE_URI}>/task/edit/id/<{$tt['id']}>">编辑</a>
                    </td>
                </tr>
                <{/foreach}>
                <{/if}>
                <{/foreach}>
            </tbody>
        </table>
    </form>
</div>
<{include file="public/foot.html"}>
<script type="text/javascript">
    $(function(){
        $('.task-del').on('click', function(e){
            e.preventDefault();
            js_comm.ajax($(this).attr('href'), 'csrf_token=<{$csrf_token}>', function(res){
                location.reload();
            });
        });
        $('.task-batch-del').on('click', function(e){
            e.preventDefault();
            js_comm.ajax_form($(this).parents('form'), function(res){
                location.reload();
            });
        });
        $('.task-edit').on('click', function(e){
            e.preventDefault();
            js_comm.load_modal($(this).attr('href'), function(){
                $('#edit-task').on('click', function(){
                    if ($('#pro_name').val() == '') {
                        js_comm.alert('任务名称不能为空！');
                        return false;
                    }
                    js_comm.ajax_form('#form-edit-task', function(res){
                        location.reload();
                    });
                });
            });
        });
        $('.task-add').on('click', function(e){
            e.preventDefault();
            js_comm.load_modal($(this).attr('href'), function(){
                $('#add-task').on('click', function(){
                    if ($('#pro_name').val() == '') {
                        js_comm.alert('任务名称不能为空！');
                        return false;
                    }
                    js_comm.ajax_form('#form-add-task', function(res){
                        location.reload();
                    });
                });
            });
        });
    });
</script>
</body>
</html>