<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">公开项目计划</h2>
    <ol class="breadcrumb">
        <li><a href="<{$BASE_URI}>/">首页</a></li>
        <li class="active">公开的项目</li>
    </ol>
    <form class="form-inline" action="<{$BASE_URI}>/project/view" method="get" style="padding: 10px 0 10px 0;">
        <div class="form-group">
            <input type="text" class="form-control" name="keywords" placeholder="搜索关键词" />
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default">python</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">python</a></li>
                    <li><a href="#">php</a></li>
                    <li><a href="#">node-js</a></li>
                    <li><a href="#">mysql</a></li>
                    <li><a href="#">web server</a></li>
                    <li><a href="#">linux</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">redis</a></li>
                    <li><a href="#">swoole</a></li>
                    <li><a href="#">canvas</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">查找</button>
        </div>
    </form>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>项目名</th>
            <th>发起人</th>
            <th>开始时间</th>
            <th>项目标签</th>
            <th style="width:240px;">完成进度</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <{foreach from=$projects key=key item=item}>
        <tr>
            <td><a href="<{$BASE_URI}>/project/view/id/<{$item.id}>"><{$item.name}></a></td>
            <td><{$item.ownner}></td>
            <td><{$item.date_from}></td>
            <td>
                <label class="label label-warning">Yaf</label>
                <label class="label label-success">Scrapy</label>
                <label class="label label-info">Django</label>
                <label class="label label-primary">Swoole</label>
                <label class="label label-danger">AngularJS</label>
            </td>
            <td>
                <div class="progress" style="margin-bottom:0;margin-top:5px; height:10px;">
                    <div class="progress-bar <{if $item.progress == '100'}> progress-bar-success
                    <{elseif $item.progress == '-1'}> progress-bar-abandon progress-bar-danger
                    <{elseif $item.progress >= '80'}> progress-bar-primary progress-bar-striped active
                    <{elseif $item.progress >= '30'}> progress-bar-info progress-bar-striped active
                    <{else}> progress-bar-warning progress-bar-striped active
                    <{/if}>" role="progressbar" aria-valuenow="<{$item.progress}>" aria-valuemin="0" aria-valuemax="100" style="width: <{$item.progress}>%">
                        <span class="sr-only"><{$item.progress}>%</span>
                    </div>
                </div>
            </td>
            <td><a href="<{$BASE_URI}>/project/view/id/<{$item.id}>" class="btn btn-xs btn-info">报名参与</a></td>
        </tr>
        <{/foreach}>
        </tbody>
    </table>
</div>
<{include file="public/foot.html"}>
</body>
</html>