<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <{include file="public/header.html"}>
</head>
<body>
<{include file="public/head.html"}>
<div class="main container">
    <h2 class="page-header">项目详情 | <small>< <{$project.name}> ></small></h2>
    <ol class="breadcrumb">
        <li><a href="<{$BASE_URI}>/">首页</a></li>
        <li><a href="<{$BASE_URI}>/project/">公开的项目</a></li>
        <li class="active"><{$project.name}></li>
    </ol>
    <div class="jumbotron">
        <h1>Oops!</h1>
        <p>这个B在偷懒啦，要不要帮他写点代码呢</p>
        <p><a class="btn btn-primary btn-lg" href="mailto:609164964@qq.com" role="button">I AM IN</a></p>
    </div>
</div>
<{include file="public/foot.html"}>
</body>
</html>