/* Create by Carl. */
*{
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.main-body{
    padding-top: 50px;
}
#footer{
    width: 100%;
    background: #27303f;
    border-bottom: 1px solid #111;
    border-top: 1px solid #333;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #ccc;
}
.footer-tips dd{
    font-size: 18px;
    line-height: 2;
    text-align: center;
}
#footer #copyright{
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #313b4c;
}


/* swiper pagination */
.swiper-pagination-bullet.my-swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
}